body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(../images/til_2.gif);}


.border{border-left: solid 2px #000000;border-right: solid 2px #000000;border-top: solid 2px #000000;}
.border1{border-left: solid 2px #000000;border-right: solid 2px #000000;border-bottom: solid 2px #000000;}
.border2{border-left: solid 2px #000000;border-right: solid 2px #000000;}
.title {font-family:Helvetica; font-size:18px; color:#365e99; font-weight:bold;}
.style4 {color: #37859E; font-size: 13px; font-family: tahoma}
.style1 {
	color: #2c2c2c;
	font-size: 13px;
	font-family: tahoma;
	text-decoration:none;
}
.style2 {
	color: #424242;
	font-size: 13px;
	font-family: tahoma
}
.style3 {
	color: #365e99;
	font-size: 13px;
	font-family: tahoma
	
}

.style4 {color: #ffffff; font-size: 16px; font-family: tahoma; font-weight:bold;}
.dave {background-image:url(../images/IMG_3407.jpg); color: #2c2c2c; font-size: 13px; font-family: tahoma;	text-decoration:none}
.servicesback {background-image:url(../images/Svcs_bk.jpg);}

#flashcontent {width: 780px; height: 49px; color:#ffffff;}
#flashcontenta {width: 780px; height: 387px; color:#ffffff;}

.menu {font-family: tahoma; color:#FFFFFF; font-size:10px;}
#menu a {font-family: tahoma; text-decoration: none; color:#FFFFFF; font-size:10px;}
#menu a:link {font-family: tahoma; text-decoration: none; color:#FFFFFF; font-size:10px;}
#menu a:visited {font-family: tahoma; text-decoration: none; color:#FFFFFF; font-size:10px;}
#menu a:hover {font-family: tahoma; text-decoration: none; color:#f2bc2f; font-size:10px; font-weight:bold;}
#menu a:active {font-family: tahoma text-decoration: none; color:#FFFFFF; font-size:10px;}

.footerback {border-top: solid 2px #000000; background-color:#365e99;}
.footer {font-family: tahoma; font-size:11px; color:#ffffff;}
#footer a {font-family: tahoma; text-decoration: none; color:#FFFFFF; font-size:11px;}
#footer a:link {font-family: tahoma; text-decoration: none; color:#FFFFFF; font-size:11px;}
#footer a:visited {font-family: tahoma; text-decoration: none; color:#FFFFFF; font-size:11px;}
#footer a:hover {font-family: tahoma; text-decoration: none; color:#ffffff; font-size:11px; font-weight:bold;}
#footer a:active {font-family: tahoma text-decoration: none; color:#FFFFFF; font-size:11px;}

.coupon {border: thick solid #000000;}

#trailimageid
{
font-size: 0.75em;
position: absolute;
visibility: hidden;
left: 0px;
top: 0px;
width: 400px;
height: 0px;
z-index: 100;
}

